# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment files
.env
frontend/.env
backend/.env

# Python cache
__pycache__/
*.pyc

# Build output
build/
dist/

# Next.js build and output
.next/
out/
frontend/.next/
frontend/out/

# Logs
*.log
frontend/.vercel
